/* --------- responsive mixins --------- */

@mixin container(){
  height: 100%;
  max-width: 100%;
  padding-right: $gap;
  padding-left: $gap;
  width: 1140px;
  margin-right: auto;
  margin-left: auto; 
}


// из статьи correct way
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }   // для них все делаем по умолчанию - по логике mobile-first, Но это только мобилки, поэтому только для них можно немного уменьшить шрифты и расстояния, чтобы потом для всех это не пришлось увеличивать.
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) and (max-width: 900px) { @content; } // xm, планшеты - уже полноценный сайт, все картинки должны быть на месте, все иконки на месте
}

@mixin for-tablet-landscape-up {
  @media (max-width: 900px) { @content; } // sm - полноценный сайт, все шаблоны должны быть заточены под него. Корректировка может быть только если какие-то картинки вылезают за 1200px и их нужно тут центровать
}

@mixin for-laptop-up {
  @media (max-width: 1140px) { @content; } // md - финальный сайт
}

@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; } // lg
}

