.content {
  
  margin: 0 100px;
  text-align: center;

  @include for-tablet-landscape-up {
    margin: 0 30px;
  }

  &__title {
    @include Ubuntu();
    font-size: 21px;
    line-height: 24px;
    margin-top: 30px;
    color: $h-color;
  }
}

.promo {

  &__title {
    color: red;
    font-weight: normal;
    font-size: 21px;
    line-height: 24px;
    margin-top: 30px;
  }

  &__text {
    color: $h-color;
    font-size: 16px;
    line-height: 18px;
    margin-top: 20px;
    margin-bottom: 0;
  }

  &__item {
    color: $h-color;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;

    &:last-child {
      text-transform: none;
    }
  }

  &__red {
    font-size: 16px;
    line-height: 18px;
    color: red;
    margin: 26px 0;
  }

  &__btn {
    display: inline-block;
    color: #000;
    text-decoration: none;
    border-radius: 24px;
    font-size: 16px;
    line-height: 18px;
    background: $yellow-color;
    padding: 15px 10px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 30px;
  }
}

.features {
  border: 3px dotted $h-color;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 10px;

  &__title {
    margin-top: 15px;
  }

  &__text {
    margin: 15px 0;
  }

  &__price {
    color: red;
    font-size: 45px;
  }
}

.price {

  &__block {
    display: flex;
    justify-content: space-between;

    @include for-tablet-landscape-up {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    width: 33%;
    margin-right: 40px;
    margin-top: 40px;

    &:last-child {
      margin-right: 0;
    }

    @include for-tablet-landscape-up {
      width: 100%;
      margin-right: 0;
    }
  }

  &__title {
    font-size: 16px;
    line-height: 18px;
    color: $h-color;
    font-weight: bold;
  }

  &__text {
    font-size: 16px;
    line-height: 18px;
    color: $h-color;
    margin-bottom: 0;
  }

  &__old {
    text-decoration: line-through;
    color: red;
    font-size: 18px;
    line-height: 18px;
    font-weight: normal;
  }

  &__new {
    color: $green-color;
    font-size: 22px;
    line-height: 24px;
    font-weight: bold;
  }

  &__btn {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border-radius: 24px;
    font-size: 16px;
    line-height: 18px;
    background: $blue-color;
    padding: 10px;
    margin-top: 15px;
  }

  &__slogan {
    margin-bottom: 40px;
  }
}