/* Helpers **/

.ta-c{
  text-align: center;
}

.mobile-gap{
  margin-bottom: $gap;
}
@media (min-width: 600px){
  .mobile-gap{
    margin-bottom: 0;
  }
}

.mobile-full-width{
  width: 100%;
}

.invisible,
.screen-reader-text,
.assistive-text{
  @include invisible();
}

.block-header{
  @include header();
}

.block-title{
  font-size: 20px;
  margin-bottom: 8px;
  line-height: 25px;
  a{
    text-decoration: none;

    &:hover{
      text-decoration: underline;
    }
  }
}

.sitebar-title{
  font-size: 16px;
  line-height: 20px;
}

.font-md{
  color: #000;
}
